@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gradient-to-r from-blue-500 to-purple-500 text-black;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container {
  @apply bg-white p-8 rounded-2xl shadow-xl w-full max-w-md;
}

.form-heading {
  @apply text-3xl font-bold text-center text-gray-700 mb-6;
}

.form-label {
  @apply block text-gray-600 font-medium mb-2;
}

.form-input {
  @apply w-full border border-gray-300 p-3 rounded-lg focus:ring-2 focus:ring-blue-500 focus:outline-none bg-white;
}

.form-button {
  @apply w-full py-3 text-white bg-blue-600 hover:bg-blue-700 rounded-lg transition font-semibold mt-4;
}

.alt-button {
  @apply mt-4;
}

.save-button {
  @apply bg-green-500 rounded-2xl;
}

.back-button {
  @apply text-white rounded-2xl bg-red-600 mt-4;
}

.change-input {
  @apply text-white;
}

.remove-button {
  @apply w-full bg-red-600 mt-3 rounded-lg;
}

.image-preview {
  @apply mt-3;
}